<div class="row">
    <ul class="nav nav-pills">
        <li><a asp-controller="MenuSections" asp-action="Index">Menu Sections</a></li>
        <li><a asp-controller="MenuItems" asp-action="Index">Menu Items</a></li>
        <li><a asp-controller="Orders" asp-action="Index">Orders</a></li>
        <li><a asp-controller="Reservations" asp-action="Index">Reservations</a></li>
        <li><a asp-controller="Promotions" asp-action="Index">Promotions</a></li>
        <li><a asp-controller="ApplicationUsers" asp-action="Index">Users</a></li>
    </ul>
</div>
