@{
    ViewBag.Title = "Staff panel";
}

<div class="container page">
    <div class="row margin-top">
        <a class="btn btn-warning col-md-3 col-md-offset-2 col-xs-12 margin-top-mobile" asp-controller="Orders" asp-action="Index">Orders<p><img src="~/images/orders.jpg" class="img-thumbnail" /></p></a>
        <a class="btn btn-warning col-md-3 col-md-offset-2 col-xs-12 margin-top-mobile" asp-controller="Reservations" asp-action="Index">Reservations<p><img src="~/images/reservations.jpg" class="img-thumbnail" /></p></a>
    </div>
</div>
