@{
    ViewData["Title"] = "About Us";
}

<div class="row container">
    <div class="col-md-6 custom-column">
        <div>
            <h2 class="custom-header"><strong>Ceilao Gosto</strong></h2>
        </div>
        <div class="custom-details">
            <p>
                Ceilao Gosto is a product of International Corporate Securities Advisors & Consultants (Pvt) Ltd,
                owned by Mr. S.W.G.B Daulagala and Ms. Shiranthi Codipilly.
            </p>
            <p>
                Ceilao Gosto coffee shop opened with the intention of enhancing the coffee shop culture among
                the people of Sri Lanka. With this in mind, we tried to find a good coffee that would delight
                the taste buds of coffee lovers. Although we were approached by various coffee brands, both
                local and foreign, they couldn't provide the exquisite taste we had envisioned.
            </p>
            <p>
                It was during this period that a representative for Kandy Forest Garden visited us, and offered us
                a set of coffee samples to try. With the first sip, we knew that this was it. We offered free
                free samples to our customers and the response was excellent. Our coffee sales showed a meteoric
                rise. Encouraged by our customers response, we requested Kafoga to tie us up to market this coffee
                which is a heritage of our nation.
            </p>
        </div>
    </div>
    <div class="col-md-6 custom-column">
        <img src="~/images/gosto-staff.jpg" class="img-responsive img-rounded img-thumbnail" />
    </div>
</div>

<hr class="coffee-divider" />

<div class="row container">
    <div class="col-md-6 custom-column">
        <img src="~/images/taste-coffee.jpg" class="img-responsive img-rounded img-thumbnail" />
    </div>

    <div class="col-md-6 custom-column">
        <div>
            <h2 class="custom-header">Short Story about Sweet History</h2>
        </div>
        <div class="custom-details">
            <p>
                Wasco de Gama, the great seaman, founded the sea route to South India around 1200 AD.
                Thereby, Sri Lanka (then known as Ceylon) was also linked to the Silk Road.
                The Arabs who travelled this route introduced Arabica coffee (Coffea Arabica .L) to
                Sri Lanka.
            </p>
            <p>
                Somewhere around the year 1658, the Dutch who held the maritime regions of Sri Lanka,
                started cultivating Arabica coffee as a commercial commodity. Nearly two centuries later,
                in 1815, the British succesfully invaded and subjugated the whole island. Around this
                time, demand for coffee was growing in the European market and Sir Edward Barnes (who would
                later become Governor) started the first true coffee plantation in 1823 at Sinhapitiya, in
                Gampola. Towards the end of 1847, coffee plantations in Sri Lanka covered around 276,000 arces.
                By 1870, the coffee industry in Sri Lanka was booming. It had become the world's largest
                producer of coffee, exporting over a million hundred weights (about 50,000 mt) annually.
            </p>
            <p>
                Tragically, disaster struck the coffee industry in 1886 in the form of a fungal leaf disease
                called Leaf Rust signalling the end of an era. The world renowned Ceylon Coffee all but disappeared.
            </p>
        </div>
    </div>
</div>

<hr class="coffee-divider" />

<div class="row container">
    <div id="coffee-project" class="col-md-6 custom-column">
        <div>
            <h2 class="custom-header"><strong>Miracle of the Kandyan Forest Gardens</strong></h2>
        </div>
        <div class="custom-details">
            <p>
                With the coffee devastation, Sri Lankan Arabica Coffee was confined entirely to the
                Kandyan Forest Gardens(KFG). KFG, an analog forest to tropical rain forest, was originally
                man made, but nature has taken over with passing generations. This Agro Forestry system
                is essentially organic since no agro chemicals are used and no maintenance is done at all.
            </p>
            <p>
                The coffee grown under this system has an intrinsic quality because of the geography and
                unusual micro climatic conditions in this region. Therefore, this coffee growing at around
                1000m elevation above sea level with a tropical climate, carries unique flavours and aromas
                superior to any other in the world.
            </p>
        </div>
    </div>
    <div class="col-md-6 custom-column">
        <img src="~/images/coffee_fruit.jpg" class="img-responsive img-rounded img-thumbnail" />
    </div>
</div>

<hr class="coffee-divider" />

<div class="row container">
    <div class="col-md-6 custom-column">
        <img src="~/images/best-coffee.jpg" class="img-responsive img-rounded img-thumbnail" />
    </div>

    <div class="col-md-6 custom-column">
        <div>
            <h2 class="custom-header"><strong>The Renaissance Begins</strong></h2>
        </div>
        <div class="custom-details">
            <p>
                In 2006 Japan Fair Trade Committee (JFTC), a leading coffee business group in Japan, visited
                Sri Lanka and identified the potential of rejuvenating the Sri Lankan Arabica coffee industry
                that had all but vanished. Then in 2007, with the collaborative support of Japan Internation Cooperation
                Agency(JICA), JFTC and Department of Export Agriculture Sri Lanka (DEA), a coffee development project
                was launched based in the central hill country.
            </p>
            <p>
                JFTC opened the pathway to sell the quality coffee produced by the project to the eager Japanese market with a
                vision of "fair price for coffee, good life for farmers and consumers happy with rare, superior quality coffee".
                Because of this, Japanese coffee connoisseurs and amateurs alike have been enjoying the extraordinary coffee
                taste that was almost lost to the world, since 2008.
            </p>
            <p>
                Ceilao Gosto Coffee Shop is the marketing arm of the JAPAN SRI LANKA FRIENDSHIP ASSOICATION Coffee Project,
                which is supported by the Department of Agricultural Export of the Sri Lankan Government, JAICA.
                The objective of this project is to revitalize the halcyon days of Sri Lankan coffee.
                The project is supported by the Department of Export Agricultural of the Sri Lankan Government,
                which is responsible for the coffee development programme from its grassroots to the consumers through the stakeholder channel.
            </p>
        </div>
    </div>
</div>

<hr class="coffee-divider" />