@{
    ViewData["Title"] = "Business Partners";
}

<div class="container page">
    <div class="row">
        <p>We work with a variety of organizations to ensure that our customers get only the best of the best. Our prestigious business partners include..</p>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <img class="img-responsive business-logo" src="~/images/logo-export-agriculture.jpg" alt="Department of Export Agriculture">
        </div>

        <div class="col-lg-2">
            <img class="img-responsive business-logo" src="~/images/logo-export-development.jpg" alt="Export Development Board">
        </div>

        <div class="col-lg-2">
            <img class="img-responsive business-logo" src="~/images/logo-seylan.jpg" alt="Seylan Bank">
        </div>

        <div class="col-lg-2">
            <img class="img-responsive business-logo" src="~/images/logo-ndb.png" alt="NDB Investment Bank">
        </div>

        <div class="col-lg-2">
            <img class="img-responsive business-logo" src="~/images/logo-techup.jpg" alt="TechUp Technologies">
        </div>
    </div>
</div>