@{
    ViewBag.Title = "Application succesfully sent";
}

<div class="container">
    <div class="row">
        <p class="text-center">Your application has been sent succesfully. We will be in touch with you soon. Thank you for contacting Ceilao Gosto.</p>
    </div>
</div>