@{
    ViewData["Title"] = "Checkout";
}

<div class="container">
    <div class="row">
        <h4>Your order has been sent succesfully by email. Our staff will be in contact with you shortly. Thank you.</h4>
    </div>
</div>