@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <h2>&nbsp;</h2>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-2 col-lg-2 col-lg-offset-3">
            <div class="contact-details">
                <address>
                    <strong>Ceila&#771;o Gosto</strong><br>
					No.605, Peradeniya Road,<br>
                    Kandy,<br>
                    Sri Lanka.<br>
                </address>
                <p>Call us - +94 81 2 203995</p>
                <p>Email &nbsp&nbsp- <a href="mailto:ceilaogosto@gmail.com">ceilaogosto@gmail.com</a></p>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1 col-md-3 col-lg-2">
            <div class="map-wrapper"><iframe width="320" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=605%20ceilao%20gosto&key=AIzaSyBs1tOhymQNa6XdG7cpSzdNRb3Eu8mUvE4" allowfullscreen></iframe></div>
        </div>
    </div>
</div>