@{
    ViewData["Title"] = "Fair Share Group";
}

<div class="container">
    <div class="row ft-box">
        <div>
            <h2 class="custom-header"><strong>Our Fair Share Group Policy</strong></h2>
        </div>
        <div class="ft-details">
            Fair trade is a social movement whose goal is to help producers in developing countries achieve better trading conditions and to promote sustainability.
            Our Fair Share Group policy focuses on providing farmers with good value for their products, while simultaneously giving our customers the best quality coffee available.
        </div>
    </div>
    <div class="row ft-box">
        <img src="~/images/ft-1.png" class="img-responsive img-rounded img-thumbnail center-block" />
    </div>
    <div class="row ft-box">
        <div class="ft-details">
            Coffee is the most well-established fair trade commodity. Most Fair Trade coffee is Coffea Arabica, a type of coffee known to be grown at high altitudes.
            A lot of emphasis is put on the quality of the coffee when dealing in Fair Trade markets. The Fair Trade movement fixated on coffee first because it is a
            highly traded commodity for most producing countries and almost half the world's coffee is produced by smallholder farmers.
        </div>
    </div>

    <hr class="coffee-divider" />

    <div class="row ft-box">
        <div>
            <h2 class="custom-header"><strong>Exquisite coffee for consumers. A helping hand for rural life.</strong></h2>
        </div>
        <div class="ft-details">
            Our Fair Share Group Coffee ensures that Coffee farmers from Matale to Kohombiliwela (<a asp-controller="Home" asp-action="AboutUs" asp-route-id="coffee-project">Click</a> here for
            more details about the project), gets the highest price for their high quality beans. The blooming coffee industry is also helping generate new jobs in these areas,
            such as coffee collectors, coffee processors and even nursery keepers. The hand sorting of high quality beans for export and marketing has also created
            a variety of income sources for the unrecognized labour force irrespective of age or gender.
        </div>
    </div>
    <div class="row ft-box">
        <img src="~/images/ft-2.jpg" class="img-responsive img-rounded img-thumbnail center-block" />
    </div>
    <div class="row ft-box">
        <div class="ft-details">
            In most cases, these are freelance jobs and provides an additional
            source of income for rural families. This work force consists mainly of housewives utilizing the extra income to provide education and facilities for their children.
            In this way, our Fair Share Group coffee is providing rural families with fair prices for their labour while coffee consumers get to experience the rare and high quality
            Arabica Coffee.
        </div>
    </div>

    <hr class="coffee-divider" />
</div>