@{
    ViewData["Title"] = "Social Media";
}

<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<div class="container">
    <div class="row reservations-box"><div class="fb-page" data-href="https://www.facebook.com/ceilaogosto" data-tabs="timeline" data-width="500" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ceilaogosto"><a href="https://www.facebook.com/ceilaogosto">Ceilao Gosto</a></blockquote></div></div></div>

    <div class="row reservations-box"><div class="fb-comments" data-href="http://gosto.azurewebsites.net/Home/TellUs" data-width="500" data-numposts="5"></div></div>

    <div class="row">
        <div class="trip-advisor-box">
            <div id="TA_selfserveprop738" class="TA_selfserveprop">
                <ul id="TCmlm5D1Ub" class="TA_links VJQmspTzx">
                    <li id="1rfEZKV" class="ZrFu3BN">
                        <a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="trip-advisor-box-2">
            <div id="TA_cdswritereviewlg958" class="TA_cdswritereviewlg">
                <ul id="n3jQlzDdG" class="TA_links dPyjbeZ467KQ">
                    <li id="KEsvkc3" class="pOFzrepzd0si">
                        <a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/medium-logo-12097-2.png" alt="TripAdvisor" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=738&amp;locationId=8119165&amp;lang=en_US&amp;rating=true&amp;nreviews=4&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=true&amp;border=true&amp;display_version=2"></script>

<script src="https://www.jscache.com/wejs?wtype=cdswritereviewlg&amp;uniq=958&amp;locationId=8119165&amp;lang=en_US&amp;lang=en_US&amp;display_version=2"></script>
