body {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
}

@media (max-width: 420px) {
  body {
      font-size: 12px !important;
  }
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 20px;
    padding-right: 20px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-margins {
    margin-left: -20px;
    margin-right: -20px;
}

.carousel-image {
    width: 100%;
    max-height: 98vh;
    display: block;
    object-fit: cover;
}

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}


/*Normalize*/

/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
    margin: 0;
}


/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */

p,
pre {
    margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

/*
 * Addresses margins set differently in IE6/7
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */

button,
input {
    line-height: normal; /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Addition */
/* Apply a natural box layout model to all elements */

 * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



/* General Demo Style */

body {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 16px;
    background: #fff url(../images/bg.jpg);
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: 300;
}

a {
    color: #555;
    text-decoration: none;
}

strong {
    font-weight: 500;
}

.container {
    width: 100%;
    position: relative;
}

.clr {
    clear: both;
    padding: 0;
    height: 0;
    margin: 0;
}

.main {
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.container > header {
    margin-bottom: 20px;
    padding: 20px 10px 10px 10px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}

.container > header h1 {
    font-size: 28px;
    line-height: 28px;
    margin: 0;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Arvo', Arial, sans-serif;
    color: black;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

.container > header h2 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 15px 30px 10px;
    color: black;
    width: 75%;
    margin: 0 auto;
}

.container > header h2 a {
    color: #fff;
}

.container > header h2 a:hover {
    color: #e6b741;
}

/* Header Style */

.codrops-top {
    line-height: 24px;
    font-size: 11px;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    font-family: Cambria, Georgia, serif;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.codrops-top:before,
.codrops-top:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.codrops-top:after {
    clear: both
}

.codrops-top a {
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    display: inline-block;
}

.codrops-top a:hover {
    background: rgba(255,255,255,0.6)
}

.codrops-top span.right {
    float: right
}

.codrops-top span.right a {
    float: left;
    display: block;
}

.support-note span,
.demo-note {
    color: #e07870;
    font-size: 16px;
    display: none;
    font-weight: 500;
    text-align: center;
    padding: 5px 0;
    text-shadow:  1px 1px 1px rgba(0,0,0,0.3);
}

.no-cssanimations .support-note span.no-cssanimations,
.no-csstransforms .support-note span.no-csstransforms,
.no-csstransforms3d .support-note span.no-csstransforms3d,
.no-csstransitions .support-note span.no-csstransitions {
    display: block;
}

@media screen and (max-width: 960px) {
    .demo-note { display: block;}
}

/*Reservations View*/
.background-reservations {
    background-image: url(../images/background-reservations.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 40%;
}

.reservations-box {
    padding-top: 20px;
    text-align: center;

}

.gray-transparent-background {
    background: rgba(128,128,128,0.5);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

hr {
    margin-top: 0px;
}

/*Set minimum height of page*/
.min-height{
    min-height: 100%;
    position: relative;
    
}

/*Footer fixed at bottom of page*/
.fix-footer {
    height: 30px;
    position: absolute;

}

/*About us page*/
.overview-nav-pills {
    position: fixed;
    width: 20%;
}

.overview-section {
    color: white;
    background-color: #6f4e37;
    padding-bottom: 30px;
}

.relative-position {
    position: relative;
}

.affix {
    top: 20px;
}

.custom-header {
    text-align: center;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: 	#191970;
}

.custom-details {
    text-align: justify;
    font-family: 'Andika', sans-serif;
    font-size: 1.2em;
    color: 	#191970;
}

.custom-column {
    margin-left: auto;
    margin-right: auto;
}

/*Google Fonts*/
.montserrat {
    font-family: 'Londrina Solid', cursive;
}

.amatic {
    font-family: 'Amatic SC', cursive;
}

.andika {
    font-family: 'Andika', sans-serif;
}

/*Customize navbar*/
.navbar-custom {
    background-color: #6F4E37;
}

.coffee-divider {
    background: url('../images/divider.png') repeat-x top center;
    height:35px;
	border:none !important;
    margin-top: 100px;
    margin-bottom: 100px;
}

.reservations-header {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: 	black;
}

.reservations-message {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: 	#191970;
}

/*Fair Trade*/

.ft-details {
    text-align: justify;
    font-family: 'Andika', sans-serif;
    font-size: 1.2em;
    color: 	#191970;
}

.ft-box {
    max-width: 900px;
    margin: auto;
    margin-bottom: 2em;
}

.contact-details {
    text-align: left;
    font-family: 'Andika', sans-serif;
    font-size: 1.2em;
    color: 	#191970;
	width: 240px;
}

@media (min-width: 900px) {
    .contact-details {
        margin-top: 50px;
    }
}


/*Menu View*/

.menu-item {
    font-size: 1.2em;
    font-family: 'Andika', sans-serif;
}

.menu-heading {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
}

.exchange-rate {
    margin-top: 2em;
}

.active-color .active a,
.active-color .active a:hover {
    background-color: rgba(69,43,8,0.8) !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #EBE5D6;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #D0C6AE;
}


/*Layout*/
.navbar-font a {
    font-size: 1em;
    font-family: andika, sans-serif;
}

.navbar-color a {
        background-color: #4A380E;
}

.border-box {
    border-width: 1px;
    border-style: dashed;
    border-color: #593C1F;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}


/*Social Media page*/

.trip-advisor-box {
    width: 468px;
    margin-top : 20px !important;
    margin: 0 auto;
}

.trip-advisor-box-2 {
    width: 240px;
    margin-top : 20px !important;
    margin: 0 auto;
}

.trip-advisor-footer {
    width: 200px;
    margin: 0 auto;
}

.hide-text{
    display: none;
}

.inline-block {
    display: inline-block;
}

@media only screen and (max-width: 640px) {
    .hide-text {
        display: inline-block !important;
    }
}

/* navbar */
.navbar-default {
  background-color: rgba(69,43,8,0.8) !important;
  border-color: rgba(69,43,8,0.9) !important;
}
.navbar-default .navbar-brand {
  color: #e5e5e5 !important;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fbf8f8 !important;
}
.navbar-default .navbar-text {
  color: #e5e5e5 !important;
}
.navbar-default .navbar-nav > li > a {
  color: #e5e5e5 !important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fbf8f8 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fbf8f8 !important;
  background-color: rgba(69,43,8,0.9) !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fbf8f8 !important;
  background-color: rgba(69,43,8,0.9) !important;
}
.navbar-default .navbar-toggle {
  border-color: rgba(69,43,8,0.9) !important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgba(69,43,8,0.9) !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e5e5e5 !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e5e5e5 !important;
}
.navbar-default .navbar-link {
  color: #e5e5e5 !important;
}
.navbar-default .navbar-link:hover {
  color: #fbf8f8 !important;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e5e5e5 !important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fbf8f8 !important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fbf8f8 !important;
    background-color: rgba(69,43,8,0.9) !important;
  }
}

@font-face {
	font-family: 'Deco-Regular';
	src: url('~/fonts/B733-Deco-Regular.eot');
	src: local('☺'), url('~/fonts/B733-Deco-Regular.woff') format('woff'), url('~/fonts/B733-Deco-Regular.ttf') format('truetype'), url('~/fonts/B733-Deco-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.map-wrapper {
    width: 320px;
    height: 400px;
    margin: 0 auto !important;
}

.footer-text {
    font-size: 1.7em;
    color: black;
}

.footer-links {
    font-family: 'Andika', sans-serif;
    font-size: 1.2em;
    color: 	black;
    margin-top: 0px;
}

.footer-height {
    max-height: 60px;
    margin-top: 0px;
}


.back-to-top-button-text {
    font-size : 18px;
}

@media only screen and (min-width: 800px) {
    .back-to-top-button {
        display: none;
    }
}

.page {
    margin-top: 20px;
    text-align: justify;
    font-family: 'Andika', sans-serif;
    font-size: 1.2em;
    color: 	#191970;
}

.business-logo {
    margin-top: 10px;
}

#home {
    display: table;
    height: 100vh;
    position: relative;
    width: 100%;
    background-size: cover;
    color: white;
}

.carousel-caption p {
    font-size: 2em;
    line-height: 1.4;
    text-shadow: 2px 2px 2px black;
}

.carousel-link {
    font-size: 0.7em;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.field-validation-error {
    color: red;
}

.checkbox-width {
    width: 18px;
}

.careers-checkbox {
    margin-top: 0px !important;
}

.accurate-box {
    width: auto !important;
}

#menuContent {
    padding-top: 25px;
}

.fix-margin-right {
    margin-right: 0px !important;
}

li { 
    cursor: pointer !important;
}

.fix-height {
    max-height: 393px !important;
}

.margin-top {
    margin-top : 40px;
}

@media only screen and (max-width: 903px) {
    .margin-top-mobile {
        margin-top: 20px;
    }
}

#promotions-toggle {
    position: absolute;
    top: 0; left: 0;
    height: 20px;
    width: 20px;
    background: #ff0000;
}

#promotions {
    background: #666;
    position: absolute;
    width: 320px;
    height: 80px;
    top: 45%;
    left:-320px;
    padding-right: 20px;
    float: right;
}

#total {
    border: 1px solid black;
}